@use 'reset';
@use 'variables';

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-nunito-sans);
  background: var(--bg-primary);
  color: var(--color-text);

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -0.4px;
  overflow-x: hidden;
}

.container {
  max-width: 85rem;
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 1.5rem;
  }
}

.main {
  width: 100%;

  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-grow: 1;
  gap: 16rem;

  padding: 0 0 6rem 0;

  @media (max-width: 992) {
    gap: 8rem;
  }

  @media (max-width: 767px) {
    gap: 6rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  scroll-margin-top: 25vh;

  &__title {
    max-width: 54rem;
    width: 100%;

    color: var(--color-title);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -1.6px;

    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }

  @media (max-width: 767px) and (orientation: portrait) {
    scroll-margin-top: 1vh;
  }
}

.title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.28px;

  color: var(--color-text);
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.96px;

  color: var(--color-subtitle);
}
.text {
  line-height: 140%;
  letter-spacing: -0.64px;

  color: var(--color-text-dark);
}

.mdx {
  margin-top: 8.5rem;
}
