:root {
  -webkit-tap-highlight-color: transparent;

  --bg-primary: #0e0e0e;
  --bg-gradient-primary: linear-gradient(
    180deg,
    rgba(14, 14, 14, 0) 0%,
    #0e0e0e 100%
  );

  --bg-burger: radial-gradient(
    50% 50% at 100% 0%,
    #382109 0%,
    #0e0e0e 100%
  );

  --bg-button-primary: #fff;
  --bg-button-primary-hover: #d5d5d5;
  --bg-button-primary-active: #eeeeee;
  --bg-button-transparent: transparent;
  --bg-button-transparent-hover: #ffffff15;
  --bg-button-transparent-active: #ffffff60;

  --bg-gradient-bubble: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 128, 0, 0.08) 0%,
    rgba(255, 128, 0, 0) 99.99%
  );
  --bg-gradient-season: linear-gradient(
    249deg,
    #ff842d -38.14%,
    #ff5a00 34.94%,
    #ff9540 113.58%
  );
  --bg-gradient-mounth: linear-gradient(
    249deg,
    #00d0ff -38.14%,
    #3c50d2 48.65%,
    #0075af 146.88%
  );

  --bg-header: linear-gradient(
    180deg,
    rgba(14, 14, 14, 0.5) 0%,
    rgba(14, 14, 14, 0) 100%
  );

  --bg-button: transparent;
  --bg-button--hovered: #ffffff15;
  --bg-button--active: #ffffff60;

  --color-title: #fff;
  --color-subtitle: #adadad;
  --color-text: #cccccc;
  --color-text-dark: #7d7d7d;
  --link-color: #ff5a00;

  --transition-ease: 0.3s ease-in-out;

  --bg-dark: #242424;

  --zi-header: 16;

  --text-title: 2.5rem;
  --text-subtitle: 2rem;
  --text-medium: 1.25rem;

  --screen-default: 1920px;
  --screen-laptop: 1440px;
  --screen-tablet: 992px;
  --screen-mobile: 767px;

  --font-size: 24px;

  @media (max-width: 1920px) {
    --font-size: 20px;
  }
  @media (max-width: 1440px) {
    --font-size: 16px;
  }
  @media (max-width: 992px) {
    --font-size: 16px;
  }
  @media (max-width: 767px) {
    --font-size: 16px;
    --text-title: 2rem;
    --text-subtitle: 1.25rem;
  }
}
