.button {
  padding: 0.675rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.675rem;

  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.64px;
  text-align: center;

  border-radius: 6px;
  border: 1px solid var(--bg-button-primary);

  color: var(--color-title);
  background: var(--bg-button-transparent);

  transition: var(--transition-ease);

  &:hover {
    background: var(--bg-button-primary-hover);
  }

  &__image {
    max-width: 1.25rem;
    width: 100%;
  }
}
