.section {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
  }
}
.content {
  max-width: 54rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &__title {
    font-size: var(--text-title);
    font-weight: 900;
    line-height: 140%;
    letter-spacing: -0.8px;

    color: var(--color-title);
  }
  &__text {
    margin-top: 1.5rem;

    font-size: var(--text-medium);
    line-height: 140%;
    letter-spacing: -0.4px;
  }
  &__buttons {
    margin-top: 1.25rem;

    display: flex;
    gap: 1.5rem;

    line-height: 140%;
    a {
      width: 10.75rem;
      text-align: center;
    }
  }
  &__description {
    margin-top: 0.75rem;

    line-height: 140%;
    letter-spacing: -0.64px;
  }
}

.background {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: -1;

  &__image {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__shadow {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--bg-gradient-primary);
  }
}
