.map {
  align-items: center;
}

.wrapper {
  width: 100%;

  position: relative;

  aspect-ratio: 2.5/1;

  border-radius: 0.75rem;

  overflow: hidden;

  @media (max-width: 992px) and (orientation: portrait) {
    aspect-ratio: 1/1;
  }
}

.mapIframe {
  width: 100%;
  height: 100%;

  border: none;

  &:not(.isActive) {
    pointer-events: none;
  }
}

.overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-gradient-primary);

  cursor: pointer;

  visibility: visible;
  opacity: 1;

  transition: var(--transition-ease);
  z-index: 10;

  transition: visibility var(--transition-ease),
    opacity var(--transition-ease);

  span {
    margin: 0 1rem;
    padding: 1rem;

    font-size: 1.5rem;
    text-align: center;

    border-radius: 0.5rem;

    color: var(--color-title);
    background: var(--bg-primary);
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
